body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}

.header{
    width: 100%;
    height: 100%;
    background: white;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    position: relative;
    z-index: 100;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(desktop-wallpaper-programming-language-web-development-code-programming-computer-blue-blue-background-blurred-glowing-resolution-blue-coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left left;
    filter: brightness(60%);
    
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 14px;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
 }


 .where_to_Start h1{
   text-align: center;
   
 }

.image1{
   
   width:350px;
   height: 500px;
   transition: 0.4s;
   margin-left: 50px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("image.png");
   text-align: center;
   padding-top: 250px;
   background-position: top;
   border-radius: 12px;
}


.image1 a{
   opacity: 0;
   transform: scale(0);
   transition: 0.8s;
   font-size: 2rem;
   color: white;
}

.image1:hover{
   filter: brightness(70%);
}

.image1:hover a{
   opacity: 1;
   transform: scale(1);
   font-size: 2rem;
   color: white;
}
.image1 a:link { text-decoration: none; }
.image1 a:visited { text-decoration: none; }
.image1 a:hover { text-decoration: none; }
.image1 a:active { text-decoration: none; }

.image2{
   
   width:350px;
   height: 500px;
   transition: 0.4s;
   margin-left: 550px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("asal-lotfi-8ePZbdxnpi0-unsplash.jpg");
   text-align: center;
   padding-top: 250px;
   background-position: top;
   border-radius: 12px;
}


.image2 a{
   opacity: 0;
   transform: scale(0);
   transition: 0.8s;
   font-size: 2rem;
   color: white;
}

.image2:hover{
   filter: brightness(70%);
}

.image2:hover a{
   opacity: 1;
   transform: scale(1);
   font-size: 2rem;
   color: white;
}
.image2 a:link { text-decoration: none; }
.image2 a:visited { text-decoration: none; }
.image2 a:hover { text-decoration: none; }
.image2 a:active { text-decoration: none; }