body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}

.header{
    width: 100%;
    height: 100%;
    background: white;
}

mark {
   background-color: white;
   color: black;
 }

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    position: relative;
    z-index: 100;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(desktop-wallpaper-programming-language-web-development-code-programming-computer-blue-blue-background-blurred-glowing-resolution-blue-coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left left;
    filter: brightness(60%);
    
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {
   background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 14px;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
 }


 .where_to_Start h1{
   text-align: center;
   
 }

 .column {
   float: left;
   width: 33.33%;
   
 }
 
 /* Clearfix (clear floats) */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

.image1{
   
   width:350px;
   height: 200px;
   transition: 0.4s;
   margin-left: 30px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("image.png");
   
   margin-bottom: 50px;
   text-align: center;
   padding-top: 250px;
   background-position: top;
   border-radius: 12px;
}


.image1 a{
   opacity: 0;
   transform: scale(0);
   transition: 0.8s;
   font-size: 2rem;
   color: white;
}

.image1:hover{
   filter: brightness(50%);
}

.image1:hover a{
   opacity: 1;
   transform: scale(1);
   font-size: 2rem;
   color: white;
}
.image1 a:link { text-decoration: none; }
.image1 a:visited { text-decoration: none; }
.image1 a:hover { text-decoration: none; }
.image1 a:active { text-decoration: none; }

.image2{
   
   width:350px;
   height: 200px;
   transition: 0.4s;
   margin-left: 80px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("image\ \(1\).png");
   text-align: center;
   
   margin-bottom: 50px;
   padding-top: 250px;
   background-position: top;
   border-radius: 12px;
   max-width: 100%;
}


.image2 a{
   opacity: 0;
   transform: scale(0);
   transition: 0.4s;
   font-size: 2rem;
  
}

.image2:hover{
   filter: brightness(40%);
}

.image2:hover a{
   opacity: 1;
   transform: scale(1);
   font-size: 2rem;
   color: black;
}
.image2 a:link { text-decoration: none; }
.image2 a:visited { text-decoration: none; }
.image2 a:hover { text-decoration: none; }
.image2 a:active { text-decoration: none; }


.image3{
   
   width:350px;
   height: 200px;
   transition: 0.4s;
   margin-left: 120px;
   
   margin-bottom: 50px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("image\ \(2\).png");
   
   text-align: center;
   padding-top: 250px;
   background-position: top;
   border-radius: 12px;
   max-width: 100%;
}


.image3 a{
   opacity: 0;
   transform: scale(0);
   transition: 0.4s;
   font-size: 2rem;
  
}

.image3:hover{
   filter: brightness(40%);
}

.image3:hover a{
   opacity: 1;
   transform: scale(1);
   font-size: 2rem;
   color: black;
}
.image3 a:link { text-decoration: none; }
.image3 a:visited { text-decoration: none; }
.image3 a:hover { text-decoration: none; }
.image3 a:active { text-decoration: none; }



 #footer .linkedin {
   background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
   background-repeat: no-repeat;
   background-position: -78px 0;
 }
 


 #footer a {
   height: 56px;
   width: 56px;
   display: inline-block;
   
 }
 #footer a:hover {
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
 }
 
 
 
 #footer .linkedin:hover {
   background-position: -78px -56px;
 }
 
 
 .bg-dark-1{
   background-color: #FF3CAC;
 background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  
 }
  